$color-bg: #333;

body {
  background-color: $color-bg;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .5)
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  color: yellow;
  background-color: #000000;
  background-image: url($img-folder + 'svg/webpack.svg');
  background-size: contain;
}

h1 {
  font-family: "OpenSans-Regular";
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100px;
  background-color: red;
  background: url($img-folder + 'webpack.png');
  background-size: contain;
}

@media only screen and (min-width: $desktopWidht) {
  font-size: 16px;
}

@media only screen and (min-width: $phoneWidht) {
  font-size: 15px;
}

@media only screen and (min-width: $smPhoneWidht) {
  font-size: 14px;
}