$font-folder: "../fonts/"; // путь к шрифтам
$img-folder: "../img/"; // путь к шрифтам

// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;

//Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidht: 1200px;
$smDesktopWidht: 980px;
$tabWidht: 768px;
$phoneWidht: 480px;
$smPhoneWidht: 320px;