<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webpack</title>
</head>

<body>
  <div class="container">
    <h1>Webpack Settings</h1>
    <ul>
      <li>list item 1</li>
      <li>list item 2</li>
      <li>list item 3</li>    
    </ul>
    <img src="<%- require('./img/backgrounds/buterfly.jpg') %>" alt="webpack"> 
    <img src="<%- require('./img/Wizard-Clap-by-Markus-Magnusson.gif') %>" alt="gif"> 
  </div> 
</body>

</html>